
<div class="typing-style">
    <pre #styletag id="style-text"></pre>
</div>
<div class="container">

      <div class='body'>
          <span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class='base'>
            <span></span>
            <div class='face'></div>
          </div>
        </div>      
	
    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>
    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>
    <div class="bird-container bird-container--three">
      <div class="bird bird--three"></div>
    </div>
    
    <div class="bird-container bird-container--four">
      <div class="bird bird--four"></div>
    </div>
    
  </div>
  
  <h1>SuperMan</h1>
<!-- <style #styletext id="style-tag"></style> -->
    