@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900");
html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  max-width: 50em;
  margin: 0 auto;
}


h1 {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 2em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #f6f4f3;
}

#timer {
  color: #f6f4f3;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 0.7em;
  letter-spacing: 5px;
}
.container {
  padding:10px;
  box-shadow: 13px 13px 8px 0 rgba(16, 11, 11, 0.48);
  background: #183059;
}

.days,
.hours,
.minutes,
.seconds {
  display: inline-block;
  padding: 20px;
  width: 100px;
  border-radius: 5px;
}

.days {
  background: #ef2f3c;
}

.hours {
  background: #f6f4f3;
  color: #183059;
}

.minutes {
  background: #276fbf;
}

.seconds {
  background: #f0a202;
}

.numbers {
  font-family: "Montserrat", sans-serif;
  color: #183059;
  font-size: 5em;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-size: 0.7em;
}
footer p {
  letter-spacing: 3px;
  color: #ef2f3c;
}
footer a {
  color: #f6f4f3;
  text-decoration: none;
}
footer a:hover {
  color: #276fbf;
}
